# The name of the DynamoDB table 
DYNAMODB_TABLE_NAME = "TinyUrkTable"


# A secure , secrete API key for internal services
API_KEy = "CHANGE_ME_TO_VERY_SECRET_KEY"

# logging level (DEBUG, INFO, WARNING, ERROR)
LOG_LEVEL = "INFO"
